@charset "UTF-8";
body {
    background-color: rgb(255, 255, 255);
    max-width: 100vw;
}

.Main__Navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgb(18, 27, 42);
    border-radius: 1vw;
    width: 5vw;
    height: 96vh;
    left: 1vw;
    top: 1.6vh;
}

.Main__Navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main__Navigation ul li {
    list-style-type: none;
    margin: 4vh 0 4vh 0;
    cursor: pointer;
    position: relative;
}

.Main__Navigation ul li i {
    font-size: 1.6vw;
    color: rgb(255, 255, 255);
}

.Main__Navigation ul .li-active i {
    color: rgb(29, 171, 161);
}

.Main__Navigation ul li:hover i {
    color: rgb(29, 171, 161);
    transition: color 0.3s ease;
}

.Main__Navigation ul li:nth-child(1) {
    margin-bottom: 28vh;
}

.Main__Navigation ul li:nth-child(4) {
    margin-top: 28vh;
}

.Main__Navigation ul li::before {
    font-size: 0.6vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: absolute;
    height: 1.6vw;
    width: 6vw;
    background-color: rgb(29, 171, 161);
    border-radius: 0.4vw;
    transform: translatex(2vw);
    top: 0vw;
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.4s ease-in-out;
    display: none;
}

.Main__Navigation ul li:hover::before {
    opacity: 1;
    transform: translateX(2.4vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main__Navigation ul li:nth-child(1)::before {
    content: "TRANG CHỦ";
}

.Main__Navigation ul li:nth-child(2)::before {
    content: "THÀNH TÍCH";
}

.Main__Navigation ul li:nth-child(3)::before {
    content: "TÀI KHOẢN";
}

.Main__Navigation ul li:nth-child(4)::before {
    content: "ĐĂNG XUẤT";
}

.Main {
    margin-left: 7vw;
    margin-top: 1.6vh;
}

.Main__TopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgb(248, 249, 253);
    width: 91.5vw;
    height: 4vw;
    border-radius: 0.8vw;
}

.Main__TopBar--Logo img {
    width: 12vw;
    margin-left: 2vw;
}

.Main__TopBar--Account {
    display: flex;
    align-items: center;
}

.Main__TopBar--Account .DateTime {
    margin-right: 2vw;
    padding: 0 0.4vw 0 0.4vw;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 27, 42);
    border-radius: 0.6vw;
    width: 10vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Main__TopBar--Account .DateTime i {
    font-size: 1.4vw;
}

.Main__TopBar--Account .DateTime #Time {
    font-size: 1.2vw;
    font-weight: bold;
    color: rgb(29, 171, 161);
}

.Main__TopBar--Account .DateTime #Date {
    font-size: 0.9vw;
    font-weight: bold;
}

.Main__TopBar--Account .Notification {
    position: relative;
    margin-right: 2vw;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 27, 42);
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
}

.Main__TopBar--Account .Notification>i {
    cursor: pointer;
}

.Main__TopBar--Account .Notification__content {
    display: none;
    position: absolute;
    background-color: rgb(18, 27, 42);
    width: 25vw;
    max-height: 40vw;
    right: 0vw;
    top: 3.2vw;
    border-radius: 0.5vw;
    padding: 1vw;
    z-index: 9;
    height: 17vw;
    overflow: auto;
}

.Main__TopBar--Account .Notification__content span {
    font-size: 1.2vw;
    font-weight: bold;
    color: rgb(29, 171, 161);
}

.Main__TopBar--Account .Notification__content #sender {
    font-size: 1vw;
    font-weight: bold;
    color: rgb(29, 171, 161);
}

.Main__TopBar--Account .Notification__content #sending-time {
    position: absolute;
    right: 2vw;
    font-size: 0.6vw;
    font-weight: normal;
}

.Main__TopBar--Account .Notification__content--items {
    margin: 1vw 0 1vw 0;
    display: grid;
    grid-template-columns: 5vw auto;
    grid-template-rows: auto auto;
}

.Main__TopBar--Account .Notification__content--items img {
    grid-row: 1/span 2;
    width: 4vw;
    border-radius: 4vw;
    margin-right: 1vw;
    border: 0.2vw solid rgb(255, 255, 255);
}

.Main__TopBar--Account .Notification__content--items span {
    font-weight: bold;
    font-size: 1vw;
}

.Main__TopBar--Account .Notification__content--items p {
    font-size: 0.8vw;
}

.Main__TopBar--Account .Notification__content::-webkit-scrollbar {
    width: 0.5vw;
    border-radius: 0.5vw;
}

.Main__TopBar--Account .Notification__content::-webkit-scrollbar-track {
    background-color: rgba(250, 250, 250, 0);
}

.Main__TopBar--Account .Notification__content::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, rgba(29, 171, 161, 0.6), rgba(29, 171, 161, 0.6));
    border-radius: 0.5vw;
}

.Main__TopBar--Account .Account {
    position: relative;
    height: 3vw;
    min-width: 15vw;
    margin-right: 1vw;
    background-color: rgb(18, 27, 42);
    border-radius: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Main__TopBar--Account .Account img {
    width: 2.4vw;
    border-radius: 2.4vw;
    cursor: pointer;
}

.Main__TopBar--Account .Account .info {
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Main__TopBar--Account .Account .info span:nth-child(1) {
    font-size: 0.6vw;
}

.Main__TopBar--Account .Account .info span:nth-child(2) {
    font-size: 1vw;
}

.Main__TopBar--Account .Account i {
    color: rgb(255, 255, 255);
    font-size: 1.2vw;
    cursor: pointer;
}

.Main__TopBar--Account .Account img,
.Main__TopBar--Account .Account .info,
.Main__TopBar--Account .Account i {
    margin: 0 0.5vw 0 0.5vw;
}

.Main__TopBar--Account .Account .hidden {
    display: none;
}

.Main__TopBar--Account .Account .nav {
    display: none;
    position: absolute;
    top: 3.5vw;
    right: 0;
    width: 10vw;
    height: auto;
    background-color: rgb(18, 27, 42);
    border-radius: 0.5vw;
    padding: 0.2vw 1vw 0.2vw 1vw;
    z-index: 9;
}

.Main__TopBar--Account .Account .nav ul {
    list-style-type: none;
}

.Main__TopBar--Account .Account .nav ul li {
    margin: 0.7vw;
}

.Main__TopBar--Account .Account .nav ul li a {
    font-size: 0.8vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.Main__TopBar--Account .Account .nav ul li a i {
    margin-right: 1vw;
}

.Main__TopBar--Account .Account .nav ul li:hover i,
.Main__TopBar--Account .Account .nav ul li:hover span {
    color: rgb(29, 171, 161);
}


/*# sourceMappingURL=Style-UserMain.css.map */